@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-item {
  position: relative;
  margin-right: 2.25rem;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

html, body{
  scroll-behavior: smooth;
}

.nav-item .text {
  display: block;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-item .icon {
  position: absolute;
  bottom: -100%;
  opacity: 0;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-item:hover .text {
  transform: translateY(-100%);
  opacity: 0;
}

.nav-item:hover .icon {
  bottom: 25%;
  opacity: 1;
  color: #33b485;
}
